[submodule "Low/vendor/GLFW"]
	path = Low/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Low/vendor/glm"]
	path = Low/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Lower/vendor/imguizmo"]
	path = Lower/vendor/imguizmo
	url = https://github.com/unsettledgames/ImGuizmo
